.hero-bg {
  z-index: -1;
  animation: opacityAnimation 4s linear infinite alternate;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
